<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <p>Hi this is tarun details</p>
    <style>
         .centerImge {
        display: block;

        border-color: blue;
    }

    body {
    background-color: lightblue;
}
p {
    font-family: verdana;
    font-size: 20px;
}
    </style>
    <div class="centerImge" align="left">
        <label for="name" value="Name">Name</label>
        <input type="text" value="Tarun Jaiswal"/><br><br>
        <label for="job" value="Job">Job</label>
        &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="Engineer"/>
    </div>
</head>
<body>

</body>
</html>